@import 'tailwindcss';
@import '../node_modules/preline/variants.css';
/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: 'Graphik', sans-serif;
  --font-serif: 'Merriweather', serif;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-purple-400: oklch(0.714 0.203 305.504);
  --color-pink-400: oklch(0.718 0.202 349.761);
  --color-orange-400: oklch(0.75 0.183 55.934);
  --color-yellow-400: oklch(0.852 0.199 91.936);
  --color-gray-400: oklch(0.707 0.022 261.325);

  --radius-4xl: 2rem;
}
